@import './base.css';

body{
  overflow-x: hidden;
  background-image: url("https://raw.githubusercontent.com/C-junior/khaos-art-portfolio/master/src/assets/bgnova.jpg") ;
  background-size: cover;
  background-position: 300px -300px;
}
#app {
  margin: 0 auto;
  overflow-x: hidden;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
a{
  color: white;
}

@media (hover: hover) {
  a:hover {
    background-color: #801010;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: flex-start;
  }

  #app {
    display: grid;
  }
}
